body, div, form, input, select, textarea, label { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 22px;
}
body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form {
    width: 60%;
    padding: 20px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: #636363;
}
h2 {
    text-align: center;
    font-size: 30px;
    color: #9b59b6;
}

/* header {
    padding: 40px;
    background-color: #ce8b26;
} */

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}
.item {
    position: relative;
    margin: 10px 0;
}

input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
textarea{
    width: calc(100% - 12px);
    padding: 5px; 
}
select {
    width: 100%;
    padding: 5px;
}

.name-item input, .name-item div {
    width: calc(50% - 20px);
}
.gender-div label {
    display: block;
}


label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}


.item:hover p, .item:hover i, .gender:hover p, .gender label:hover, input:hover::placeholder {
    color: #9b59b6;
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 #9b59b6;
    color: #9b59b6;
}
.item span {
    color: red;
}
.name-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px; 
    background: #9b59b6;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #be8dd1;
}
